/*Page*/
.boxBt{
    position: relative;
    top: 30px;
    display: block;    
}
.btNum{
        position:relative;
        width: 90px;
        height: 120px;
        display:inline-block;
        background-color:gray;
        top:30px;
    }
.ativo{
    background-color:blue;
}
.lista{
    position: relative;
    display: block;
    width: 100%;
}
.linha{
    position: relative;
    margin: 5px 10px;    
    float: left;
}

.selected-class-name {
  background-color: blue;
}
.block{
    display: block!important;
}

.center{
    width: 100%!important;
    display:block!important;
    text-align: center!important;
}