<ion-view title="Confirmar dados" id="page6"> 
    <ion-content padding="true" class="has-header">
        <form id="confirmarDados-form8" class="list">
            <ion-list id="confirmarDados-list1">
                <label class="item item-input" id="confirmarDados-input7" name="nome">
                    Nome: {{input.nome}}
                </label>
                <label class="item item-input" id="confirmarDados-input8" name="idade">                    
                    Idade: {{input.idade}}
                </label>
                <label class="item item-input" id="confirmarDados-input9" name="altura">
                    Altura: {{input.altura}}
                </label>
            </ion-list>
            <label class="item item-input" id="confirmarDados-input10" name="peso">
                Peso: {{input.peso}}
            </label>
        </form>
        <button id="confirmarDados-button12" class="button button-positive  button-block" ng-click="showAlert()">CONFIRMAR E CALCULAR</button>
    </ion-content>
</ion-view>