<ion-view title="Confirmar dados" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="confirmarDados-form8" class="list">
            <ion-list id="confirmarDados-list1">
                <label class="item item-input" id="confirmarDados-input7" name="nome">
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="confirmarDados-input8" name="idade">
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="confirmarDados-input9" name="altura">
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <label class="item item-input" id="confirmarDados-input10" name="peso">
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="home" id="confirmarDados-button12" class="button button-positive  button-block">CONFIRMAR E CALCULAR</a>
    </ion-content>
</ion-view>