<ion-side-menus enable-menu-with-back-views="false" ng-controller="toasts">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <div id="menu-button-bar1" class="button-bar"></div>
            <div id="menu-button-bar4" class="button-bar"></div>
            <button id="menu-button19" class="button button-positive  button-block" ng-click="toastSet()">Settings</button>
            <button id="menu-button20" class="button button-positive  button-block" ng-click="toastItem1()">Item 1</button>
            <button id="menu-button21" class="button button-positive  button-block" ng-click="toastItem2()">Item 2</button>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>