<ion-view title="One2Nine" id="page1">
    <ion-content padding="true" class="has-header" ng-controller="one2Nine">
        <div id="one2Nine-markdown1" style="color:#000000;">
            <p>In this game, you need to count from 1 until 9 by pressing the butttons in the correct order as fast as you can. The numbers show up with different labels!</p>
        </div>
        <button id="one2Nine-button32" ng-click="startTimer()" class="button button-positive  button-block">START GAME</button>
        <a ui-sref="one2Nine2" id="one2Nine-button33" class="button button-positive  button-block">VIEW SCORES!</a>
    </ion-content>
</ion-view> 