<ion-view title="01_activityLife_abrirfechar" id="page16">
    <ion-content padding="true" class="has-header">
        <div id="1_activityLife_abrirfechar3-markdown3" style="color:#000000;text-align:center;">
            <p class="center">This is activity TWO!!!</p>
        </div>
        <a ui-sref="1_activityLife_abrirfechar2" id="1_activityLife_abrirfechar3-button44" class="button button-positive  button-block">ABRIR ONEACTIVITY</a>
        <a ui-sref="1_activityLife_abrirfechar" id="1_activityLife_abrirfechar3-button45" class="button button-positive  button-block">FECHAR</a>
    </ion-content>
</ion-view>