<ion-view title="01_activityLife_abrirfechar" id="page14">
    <ion-content padding="true" class="has-header" ng-controller="main">
        <div id="1_activityLife_abrirfechar-markdown1" style="color:#000000;text-align:center;">
            <p class="center">This is the MAIN activity!!!</p>
        </div>
        <a ui-sref="1_activityLife_abrirfechar2" id="1_activityLife_abrirfechar-button40" class="button button-positive  button-block">ABRIR ONEACTIVITY</a>
        <a ui-sref="1_activityLife_abrirfechar3" id="1_activityLife_abrirfechar-button41" class="button button-positive  button-block">ABRIR TWOACTIVITY</a>
        <button id="1_activityLife_abrirfechar-button42" class="button button-positive  button-block" ng-click="fechar()">FECHAR</button>
    </ion-content>
</ion-view>